// Mixins in here

.button-gen(@color: @button-bg, @txtcolor: @white) {
    background: @color;
    color: @txtcolor;
    font-size: 18px;
    text-align: center;
    border-radius: 16px;
    padding: 14px 0;
    width: 80%;
}