// Navigation Styles here

.navigation-bar {
	width: 100%;
	background: @white;
	position: fixed;
	top: 0;
    z-index: 2;
    border-bottom: 2px dashed @navigation-border; 

    .nav-container {
        display: flex;
        width: 80%;
        max-width: 800px;
        padding: 30px 0;
        align-items: center;
        justify-content: space-between;
        align-self: center;
        margin: 0 auto;

        nav {
            justify-content: space-between;

            a {
                color: @font-color;
                text-decoration: none;
                font-size: 16px;
                &:first-child {
                    margin-right: 18px;
                }
                
                &:not(:first-child) {
                    margin: 0 18px;
                }
            }
        }
        div {
            width: 20%;
            a {
                text-decoration: none;
                color: @font-color;
                font-family: 'Indie Flower', cursive;
                font-size: 32px;
            }
        }
    }
}